#Title {
background-image: url(../Images/banner_1.jpg);
background-size:contain;
margin-top: 0%;
margin-right: 0%;
}

#Footer {
background-image: url(../Images/banner_1.jpg);
background-size:contain;
margin-top: 0%;
margin-right: 0%;
}

#BadgeCP{
background-image: url(../Images/aws-certified-cloud-practitioner.png);
background-size:contain;
align-items:"left";
}

#BadgeRS{
background-image: url(../Images/aws-re-start-graduate.png);
background-size:contain;
align-items: "right";
}

.profile-img {
    border-radius: 50%;
    height: 150px;
    width: 100px;
}

.body-in {
text-align: center;
}

.text-title {
    color: #fbfdfd;
    font-size: 4rem;
    margin: 200px auto 0 auto;
    font-family: "Sacramento", cursive;
}

.text-p {
    color: #fbfdfd;
    font-size: 1.5rem;
    font-family: "Sacramento", cursive;
}

.image-h{
    height:inherit;
    width:inherit;
}

.text-t{
    color: black;
}

.text-b{
    color: yellow;
}

.text-o{
    color: blue;
}

.jost-text {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.jost-text-i {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
  }

  .jost-text-F {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #fbfdfd;
    font-size: 1rem;
  }

  .ul-skill {
    list-style-type: none;
  }
  
  .li-skill {
    float: left;
    text-align: center;
    width: 5em;
  }

  .body-res{
    margin-left: 1.5em;
    margin-right: 1.5em;
  }